@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

html::-webkit-scrollbar {
    width: 30px;
    height: 30px;
    background-color: #1c1e1f;
    color: #c5c1b9;
}

::-webkit-scrollbar {
    background-color: #1c1e1f;
    color: #c5c1b9;
}

::-webkit-scrollbar-thumb {
    background-color: #37393b;
}

body {
    font-family: 'Nunito';
    margin: 0;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background: #ddd;
    color: black;
}

header {
    margin-top: 4.5rem;
    text-align: center;
    h1 {
        margin-bottom: 5px;
    }
    h2 {
        margin-top: 0;
        color: rgb(102, 102, 102);
    }
}

.limitWrap {
    margin: 0 18px;
    display: grid;
    grid-template-columns: max-content 40px max-content;
    
    :first-child, :nth-child(2) {
        font-size: 17px;
    }
    
    :nth-child(2) {
        border-radius: 10px;
        padding: 0 7px;
        height: 28px;
        max-width: 55px;
        margin: auto;
        margin-left: 10px;
        border: solid #666 2px;
        color: rgb(53, 53, 53);
    }
}

main {
    margin: 1em 18px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 150px);
    grid-column-gap: 85px;
    grid-row-gap: 30px;
}

$correct-color: rgb(49, 97, 30);
$wrong-color: rgb(97, 30, 30);

.zadacaGroup {
    display: grid;
    grid-template-columns: max-content 50px;
    grid-gap: 10px;
    background-color: rgb(63, 63, 63);
    min-width: 140px;
    width: fit-content;
    padding: 0 20px;
    border-radius: 10px;
    .zadaca, input {
        font-size: 17px;
    }
    .zadaca {
        color: rgb(255, 255, 255);
    }
    input {
        border-radius: 10px;
        padding: 0 6px;
        height: 35px;
        max-width: 50px;
        margin: auto;
        border: none;
    }
}

button, input[type="submit"] {
    border: none;
    padding: 10px;
    font-size: 17px;
    background-color: rgb(102, 102, 102);
    margin-right: 13px;
    border-radius: 10px;
    margin-top: 25px;
    color: white;
}

.buttons {
    margin: 0 18px;
}

.check, .primary {
    font-family: 'Nunito';
    &:hover {
        cursor: pointer;
    }
    &:focus {
        background-color: rgb(48, 48, 48);
        outline: none;
    }
}

.gen {
    border: rgb(139, 139, 139) solid 3px;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(82, 81, 81);
    padding-top: 7px;
    padding-left: 14px;
    padding-right: 14px;
    font-family: 'Nunito';
    &:hover {
        cursor: pointer;
    }
    &:focus {
        border: rgb(48, 48, 48) solid 3px;
        color: rgb(0, 0, 0);
        outline: none;
    }
}