@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");
html::-webkit-scrollbar {
  width: 30px;
  height: 30px;
  background-color: #1c1e1f;
  color: #c5c1b9;
}

::-webkit-scrollbar {
  background-color: #1c1e1f;
  color: #c5c1b9;
}

::-webkit-scrollbar-thumb {
  background-color: #37393b;
}

body {
  font-family: 'Nunito';
  margin: 0;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #cfcfcf;
  color: black;
}

.navbar .active {
  background: #ebebeb;
  color: black;
}

header {
  margin-top: 4.5rem;
  text-align: center;
}

header h1 {
  margin-bottom: 5px;
}

header h2 {
  margin-top: 0;
  color: #666666;
}

.limitForm {
  margin: 0 18px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content 40px;
      grid-template-columns: -webkit-max-content 40px;
      grid-template-columns: max-content 40px;
}

.limitForm p, .limitForm .limiter {
  font-size: 17px;
}

.limitForm .limiter {
  border-radius: 10px;
  padding: 0 7px;
  height: 28px;
  max-width: 55px;
  margin: auto;
  margin-left: 10px;
  border: solid #666 2px;
  color: #353535;
}

main {
  margin: 0 0 0 18px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (150px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 150px);
  grid-column-gap: 85px;
  grid-row-gap: 30px;
}

.zadacaGroup {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content 50px;
      grid-template-columns: -webkit-max-content 50px;
      grid-template-columns: max-content 50px;
  grid-gap: 10px;
  background-color: #3f3f3f;
  min-width: 140px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 20px;
  border-radius: 10px;
}

.zadacaGroup .zadaca, .zadacaGroup input {
  font-size: 17px;
}

.zadacaGroup .zadaca {
  color: white;
}

.zadacaGroup input {
  border-radius: 10px;
  padding: 0 6px;
  height: 35px;
  max-width: 50px;
  margin: auto;
  border: none;
}

button, input[type="submit"] {
  border: none;
  padding: 10px;
  font-size: 17px;
  background-color: #666666;
  margin-right: 13px;
  border-radius: 10px;
  margin-top: 25px;
  color: white;
}

.buttons {
  margin: 0 18px;
}

.check, .primary {
  font-family: 'Nunito';
}

.check:hover, .primary:hover {
  cursor: pointer;
}

.check:focus, .primary:focus {
  background-color: #303030;
  outline: none;
}

.gen {
  border: #8b8b8b solid 3px;
  background-color: rgba(255, 255, 255, 0);
  color: #525151;
  padding-top: 7px;
  padding-left: 14px;
  padding-right: 14px;
  font-family: 'Nunito';
}

.gen:hover {
  cursor: pointer;
}

.gen:focus {
  border: #303030 solid 3px;
  color: black;
  outline: none;
}

@media only screen and (max-width: 349px) {
  header {
    margin-top: 7.5rem;
  }
  header h1 {
    font-size: 1.8rem;
  }
  .limitForm p, .limitForm .limiter {
    font-size: .85rem;
  }
  .limitForm .limiter {
    border-radius: 7px;
    padding: 0 6px;
    height: 24px;
    width: 40px;
  }
}
/*# sourceMappingURL=operacii.css.map */